body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.box-1 {
    background-color: rgb(240, 240, 240);
    height: 100vh;
}

/* Navbar style  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f8128;
    padding: 10px 20px;
    height: 50px;
    width: 98%;
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo {
    height: 60px;
    width: 80px;
}

.navbar-left .name {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.navbar-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 550;
}

.navbar-right a:hover {
    text-decoration: underline;
}
/* End Navbar style  */

/* Home page style  */

#profile-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.box {
    position: relative;
    left: 60px;
    width: 350px;
    height: 350px;
    background: #f3f4f6; /* Light grey background */
    border-radius: 50%;
    overflow: hidden;
}

.box:before {
    content: "";
    position: absolute;
    inset: -10px 110px;
    background: linear-gradient(315deg, #30ff5d, #013f1a); /* Green gradient */
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.box:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: #f3f4f6; /* Light grey background */
    border-radius: 50%;
    z-index: 1;
}

.box:hover .content img {
    opacity: 2;
}

.content {
    position: absolute;
    inset: 9px;
    border: 4px solid black;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content img {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.details {
    margin-left: 350px;
    margin-top: 100px;
}
.name-heading {
    font-size: 40px;
    font-weight: bolder;
    color: #0ac132;
}

.dev-detail {
    font-size: 15px;
    font-weight: bold;
    color: #555555;
    text-decoration: underline;
}

.contact-button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    width: 200px;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact-button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
    font-size: 15px;
}

.contact-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg, rgb(75, 219, 104) 10.8%, rgb(2, 74, 10) 94.3%);
    transition: all 0.475s;
}

.svg {
    height: 40px;
    width: 40px;
    padding: 5px;
}

.scroll {
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 70px;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    background-color: #92ffaa;
    &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 15px;
        width: 18px;
        height: 18px;
        border-left: 2px solid #333;
        border-bottom: 2px solid #333;
        transform: rotate(-45deg);
    }
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

/* End Hoame page style  */

/* About us Section  */

#about-us {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
}

.left-section {
    flex: 1;
    padding-right: 20px;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: right;
    position: relative;
    top: 200px;
}

.node-photo {
    position: absolute;
    right: -20%;
    top: 0;
    transform: translateY(-50%);
    width: 500px;
    height: 300px;
}

.ex-photo {
    width: 600px;
    height: 190px;
}

.mongodb-photo {
    position: absolute;
    top: 120px;
    left: 80px;
    width: 600px;
    height: 350px;
}
/* End About us Section   */

/* Projects section */

/* End Projects section */